<div class="container" style="height: 40% !important;height: 100%;">
	<div class="col-md-12"
		style="padding: 20px 40px 40px 40px; height: 100%; margin-bottom: 10px; border-radius: 4px; opacity: .9">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">
						<h1 style="font-size: 30px; margin-top:0px;">
							<b>Meus eventos</b>
						</h1>
					</div>
					<div class="col-md-offset-7 col-md-2">
						<button class="btn btn-success" style="font-size:16px;width:100%"><i class="fa fa-plus"></i>&nbsp;&nbsp;Novo evento</button>
					</div>
				</div>
				<div style="height:450px;background-color:white">
					
				</div> 
			</div>
		</div>
	</div>
</div>
