<div style="color: black" class="modal fade" id="modalNovoLocal"
	tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Novo Local</h4>
			</div>
			<div class="modal-body">
				<form method="POST" id="form-novoLocal">
					<input id="form-evento-id" type="hidden" />
					<input type="text" class="form-control" name="nomeDoLocal" placeholder="Nome do local" maxlength="70"/>
					<br>
					<input type="email" class="form-control" name="rotaDeLocalizacao" placeholder="Rota de localização" maxlength="70"/>
					<br>
					<input type="email" class="form-control" name="capacidade" placeholder="Capacidade" maxlength="70"/>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-primary" form="form-participar">Confirmar</button>
			</div>
		</div>
	</div>
</div>